In [3]:
%load_ext sql

In [4]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(1, datetime.time(0, 3, 22, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (2, datetime.time(0, 6, 8, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (3, datetime.time(0, 11, 6, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (4, datetime.time(0, 17, 37, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (5, datetime.time(0, 20, 25, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (6, datetime.time(0, 23, 26, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (7, datetime.time(0, 26, 55, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (8, datetime.time(0, 29, 22, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (9, datetime.time(0, 37, 10, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (10, datetime.time(0, 41, 15, 796000), 95, 'paid', None, None, 411, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [1]:
%sql SELECT * FROM users LIMIT 10;

UsageError: Line magic function `%sql` not found.

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.932)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'NaN', 'NaN')]

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.time(0, 3, 22, 796000), 0, 14, 46, 11, 2018, 2),
 (datetime.time(0, 6, 8, 796000), 0, 14, 46, 11, 2018, 2),
 (datetime.time(0, 11, 6, 796000), 0, 14, 46, 11, 2018, 2),
 (datetime.time(0, 17, 37, 796000), 0, 14, 46, 11, 2018, 2),
 (datetime.time(0, 20, 25, 796000), 0, 14, 46, 11, 2018, 2)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [1]:
%run create_tables.py
%run etl.py

74 files found in data/song_data
1/74 files processed.
2/74 files processed.
3/74 files processed.
4/74 files processed.
5/74 files processed.
6/74 files processed.
7/74 files processed.
8/74 files processed.
9/74 files processed.
10/74 files processed.
11/74 files processed.
12/74 files processed.
13/74 files processed.
14/74 files processed.
15/74 files processed.
16/74 files processed.
17/74 files processed.
18/74 files processed.
19/74 files processed.
20/74 files processed.
21/74 files processed.
22/74 files processed.
23/74 files processed.
24/74 files processed.
25/74 files processed.
26/74 files processed.
27/74 files processed.
28/74 files processed.
29/74 files processed.
30/74 files processed.
31/74 files processed.
32/74 files processed.
33/74 files processed.
34/74 files processed.
35/74 files processed.
36/74 files processed.
37/74 files processed.
38/74 files processed.
39/74 files processed.
40/74 files processed.
41/74 files processed.
42/74 files processed.
43/74 files processed.
44/74 files processed.
45/74 files processed.
46/74 files processed.
47/74 files processed.
48/74 files processed.
49/74 files processed.
50/74 files processed.
51/74 files processed.
52/74 files processed.
53/74 files processed.
54/74 files processed.
55/74 files processed.
56/74 files processed.
57/74 files processed.
58/74 files processed.
59/74 files processed.
60/74 files processed.
61/74 files processed.
62/74 files processed.
63/74 files processed.
64/74 files processed.
65/74 files processed.
66/74 files processed.
67/74 files processed.
68/74 files processed.
69/74 files processed.
70/74 files processed.
71/74 files processed.
72/74 files processed.
73/74 files processed.
74/74 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.

In [10]:
!zip -r etlrelationdatamodelling.zip . -i '*.py' '*.json' '*.ipynb' '*.d' -x *.ipynb_checkpoints*

  adding: data/log_data/2018/11/2018-11-14-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-28-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-30-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-05-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-01-events.json (deflated 84%)
  adding: data/log_data/2018/11/2018-11-12-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-09-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-20-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-08-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-04-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-11-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-10-events.json (deflated 88%)
  adding: data/log_data/2018/11/2018-11-27-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-07-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-03-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-19-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-16-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-15-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-13-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-29-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-18-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-26-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-24-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-21-events.json (deflated 91%)
  adding: data/log_data/2018/11/2018-11-02-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-25-events.json (deflated 87%)
  adding: data/log_data/2018/11/2018-11-23-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-17-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-22-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-06-events.json (deflated 90%)
  adding: data/song_data/A/A/A/TRAAAAW128F429D538.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAVO128F93133D4.json (deflated 32%)
  adding: data/song_data/A/A/A/TRAAADZ128F9348C2E.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAAMO128F1481E7F.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAVG12903CFA543.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAARJ128F9320760.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAMQ128F1460CD3.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAPK128E0786D96.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAAFD128F92F423A.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAAEF128F4273421.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAABD128F429CF47.json (deflated 32%)
  adding: data/song_data/A/A/B/TRAABCL128F4286650.json (deflated 34%)
  adding: data/song_data/A/A/B/TRAABJV128F1460C49.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABJL12903CDCF1A.json (deflated 35%)
  adding: data/song_data/A/A/B/TRAABVM128F92CA9DC.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABYN12903CFD305.json (deflated 31%)
  adding: data/song_data/A/A/B/TRAABYW128F4244559.json (deflated 32%)
  adding: data/song_data/A/A/B/TRAABXG128F9318EBD.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABDL12903CAABBA.json (deflated 35%)
  adding: data/song_data/A/A/B/TRAABLR128F423B7E3.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABRB128F9306DD5.json (deflated 34%)
  adding: data/song_data/A/A/B/TRAABNV128F425CEE1.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACNS128F14A2DF5.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACFV128F935E50B.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACQT128F9331780.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACCG128F92E8A55.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACPE128F421C1B9.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACVS128E078BE39.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACER128F4290F96.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACHN128F1489601.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACSL128F93462F4.json (deflated 33%)
  adding: data/song_data/A/A/C/TRAACZK128F4243829.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACIW12903CC0F6D.json (deflated 33%)
  adding: data/song_data/A/A/C/TRAACLV128F427E123.json (deflated 29%)
  adding: data/song_data/A/A/C/TRAACTB12903CAAF15.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACOW128F933E35F.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAFP128F931E9A1.json (deflated 30%)
  adding: data/song_data/A/B/A/TRABAXV128F92F6AE3.json (deflated 33%)
  adding: data/song_data/A/B/A/TRABAFJ128F42AF24E.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAXR128F426515F.json (deflated 29%)
  adding: data/song_data/A/B/A/TRABAVQ12903CBF7E0.json (deflated 33%)
  adding: data/song_data/A/B/A/TRABAXL128F424FC50.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAZH128F930419A.json (deflated 34%)
  adding: data/song_data/A/B/A/TRABAWW128F4250A31.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABACN128F425B784.json (deflated 33%)
  adding: data/song_data/A/B/A/TRABATO128F42627E9.json (deflated 34%)
  adding: data/song_data/A/B/A/TRABAIO128F42938F9.json (deflated 31%)
  adding: data/song_data/A/B/B/TRABBJE12903CDB442.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBXU128F92FEF48.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBZN12903CD9297.json (deflated 34%)
  adding: data/song_data/A/B/B/TRABBVJ128F92F7EAA.json (deflated 34%)
  adding: data/song_data/A/B/B/TRABBOP128F931B50D.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBTA128F933D304.json (deflated 33%)
  adding: data/song_data/A/B/B/TRABBKX128F4285205.json (deflated 31%)
  adding: data/song_data/A/B/B/TRABBNP128F932546F.json (deflated 33%)
  adding: data/song_data/A/B/B/TRABBAM128F429D223.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBLU128F93349CF.json (deflated 31%)
  adding: data/song_data/A/B/B/TRABBOR128F4286200.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBBV128F42967D7.json (deflated 35%)
  adding: data/song_data/A/B/C/TRABCKL128F423A778.json (deflated 30%)
  adding: data/song_data/A/B/C/TRABCEI128F424C983.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCTK128F934B224.json (deflated 34%)
  adding: data/song_data/A/B/C/TRABCFL128F149BB0D.json (deflated 30%)
  adding: data/song_data/A/B/C/TRABCEC128F426456E.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCRU128F423F449.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCYE128F934CE1D.json (deflated 31%)
  adding: data/song_data/A/B/C/TRABCUQ128E0783E2B.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCIX128F4265903.json (deflated 29%)
  adding: data/song_data/A/B/C/TRABCPZ128F4275C32.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCXB128F4286BD3.json (deflated 34%)
  adding: data/song_data/A/B/C/TRABCAJ12903CDFCC2.json (deflated 33%)
  adding: etl.ipynb (deflated 86%)
  adding: etl.py (deflated 63%)
  adding: create_tables.py (deflated 62%)
  adding: test.ipynb (deflated 89%)
  adding: sql_queries.py (deflated 71%)